Tests: gnome-desktop-testing
Depends:
 eos-paygd-tests,
 eos-payg-generate-tests,
 gnome-desktop-testing,
 libeos-payg-1-tests,
 libeos-payg-codes-1-tests,
 libeos-payg-helper-1-tests,

Tests: gnome-desktop-testing-root
Depends:
 gnome-desktop-testing,
 libeos-payg-1-tests,
Restrictions: needs-root
