Source: eos-payg
Section: misc
Priority: optional
Maintainer: Endless <support@endlessm.com>
Standards-Version: 4.1.2
Build-Depends:
 debhelper (>= 10),
 dh-python,
 dh-systemd,
 libglib2.0-dev (>= 2.54.2-1endless2),
 libsystemd-dev,
 meson,
 python3-dbusmock,

Package: eos-paygd
Section: misc
Architecture: any
Multi-arch: same
Depends:
 systemd (>= 200),
 ${misc:Depends},
 ${shlibs:Depends},
Description: Pay As You Go Daemon
 This package contains a pay as you go daemon for tracking computer usage and
 validation of pay as you go codes.

Package: eos-paygd-tests
Section: misc
Architecture: any
Depends:
 eos-paygd (= ${binary:Version}),
 ${misc:Depends},
 ${python3:Depends},
 ${shlibs:Depends},
Description: Pay As You Go Daemon - tests
 This package contains a pay as you go daemon for tracking computer usage and
 validation of pay as you go codes.
 .
 This package contains unit tests for the daemon.

Package: libeos-payg-1-tests
Section: misc
Architecture: any
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
Description: Pay As You Go Daemon - manager library tests
 This package contains a pay as you go daemon for tracking computer usage and
 validation of pay as you go codes.
 .
 This package contains unit tests for the APIs used by the daemon and other
 tools.

Package: libeos-payg-codes-1-tests
Section: misc
Architecture: any
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
Description: Pay As You Go Daemon - codes library tests
 This package contains a pay as you go daemon for tracking computer usage and
 validation of pay as you go codes.
 .
 This package contains unit tests for the APIs used for generating and
 verifying codes.

Package: libeos-payg-helper-1-tests
Section: misc
Architecture: any
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
Description: Pay As You Go Daemon - helper library tests
 This package contains a pay as you go daemon for tracking computer usage and
 validation of pay as you go codes.
 .
 This package contains unit tests for the APIs used by the daemon.
