Source: eos-payg
Section: misc
Priority: optional
Maintainer: Endless <support@endlessm.com>
Standards-Version: 4.1.2
X-Python3-Version: >= 3.7
Build-Depends:
 debhelper (>= 10),
 dh-python,
 dracut,
 gtk-doc-tools,
 libglib2.0-dev (>= 2.74),
 libpeas-dev,
 libsystemd-dev,
 meson,
 python3-dbusmock,
 systemd,

Package: eos-paygd
Section: misc
Architecture: any
Multi-arch: same
Depends:
 eos-payg-data (= ${source:Version}),
 systemd (>= 249),
 dracut,
 ${misc:Depends},
 ${shlibs:Depends},
Description: Pay As You Go Daemon
 This package contains a pay as you go daemon for tracking computer usage and
 verification of pay as you go codes.

Package: eos-payg-generate
Section: misc
Architecture: any
Multi-arch: same
Depends:
 eos-payg-data (= ${source:Version}),
 ${misc:Depends},
 ${shlibs:Depends},
Description: Pay As You Go Code Generator
 This package contains utilities to generate pay as you go codes.

Package: eos-payg-generate-tests
Section: misc
Architecture: any
Depends:
 eos-payg-generate (= ${binary:Version}),
 ${misc:Depends},
 ${python3:Depends},
 ${shlibs:Depends},
Description: Pay As You Go Code Generator - tests
 This package contains utilities to generate pay as you go codes.
 .
 This package contains unit tests for the utilities.

Package: libeos-payg-1-dev
Section: misc
Architecture: any
Depends:
 libglib2.0-dev,
 libsystemd-dev,
 eos-paygd (= ${binary:Version}),
 ${misc:Depends},
Description: Pay As You Go Daemon - provider plugin development
 This package contains a pay as you go daemon for tracking computer usage and
 verification of pay as you go codes.
 .
 This package contains development files for provider plugins.

Package: libeos-payg-1-tests
Section: misc
Architecture: any
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
Description: Pay As You Go Daemon - manager library tests
 This package contains a pay as you go daemon for tracking computer usage and
 verification of pay as you go codes.
 .
 This package contains unit tests for the APIs used by the daemon and other
 tools.

Package: libeos-payg-codes-1-tests
Section: misc
Architecture: any
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
Description: Pay As You Go Daemon - codes library tests
 This package contains a pay as you go daemon for tracking computer usage and
 verification of pay as you go codes.
 .
 This package contains unit tests for the APIs used for generating and
 verifying codes.

Package: eos-payg-data
Section: misc
Architecture: all
Depends:
 eos-paygd (= ${binary:Version}),
 gir1.2-gio-2.0,
 python3-gi,
 ${misc:Depends},
 ${python3:Depends},
 ${misc:Depends},
Description: Pay As You Go Daemon - architecture independent files
 This package contains a pay as you go daemon for tracking computer usage and
 verification of pay as you go codes.
 .
 This package contains the architecture-independent data files and tools.
